{% extends 'odhyayon/base.html' %}

{% block title %} dashboard {% endblock %}
{% block content %}
<div class = "container bg-light">

<div class="row">

<div class="col-xl-3 col-sm-6 mb-3">  

{% if object_list %}    

    {% for courses in object_list %}
    
 <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
  <div class="card-header">{{ courses.title }}</div>
  <div class="card-body">
    <h5 class="card-title">Subject</h5>
    <p class="card-text"> subject related text</p>
  <a href="{% url 'detail' courses.id %}" class="btn btn-outline-light btn-sm"> Enter Classroom </a>
  <form action="{% url 'delete-class' courses.id %}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <input type="hidden" name="courses_id" value="{{ courses.id }}" />
                                <button type="submit" class="btn btn-outline-light btn-sm">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </form>
  </div>
</div>
</div>
     {% endfor %}


{% else %}

      <h3> you dont have any classes</h3>

{% endif %}

{% endblock %}
